 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
 }

body {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-size: cover;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
  overflow: hidden;
}
.container .forms{
  padding: 30px;
  width: 200%;
  height: 440px;
  display: flex;
  align-items: center;
  transition: height 0.2s ease;

}


.container .form{
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;

}
.container.active .login{
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;

}
.container.active .signup{
  opacity: 1;
  transition: opacity 0.2s ease;

}
.container .signup{
  opacity: 0 ;
  transition: opacity 0.09s ease;

}
.container.active .forms{
  height: 600px;
}
.container .form .title{
  font-size: 27px;
  font-weight: 600;
  position: relative;
}
.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #007f67;
  border-radius: 25px;

}
.form .input-field{
  margin-top: 30px;
  background-color: #fff;
  height: 50px;
  width: 100%;
  position: relative;

}
.input-field input{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  border-bottom: 2px solid #009579;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
     color: #009579;

}
.input-field .date-of-birth{
  display: contents;
 font-weight: 500;
 margin-bottom: 5px;
 position: absolute;
 height: 100%;
 width: 100%;
 padding: 0 35px;
 border: none;
 outline: none;
 border-bottom: 2px ;

  
}

.input-field i{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #4bb544;
  font-size: 23px;

}
.input-field i.icon{
  left: 0;

}
.input-field i.showHidePw{
  right: 0;
  cursor: pointer;
  padding: 10px;
  
}
.form .checkbox-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}
.checkbox-content input{
  accent-color: #4bb544;
  margin: 0 8px -2px 4px;
}

.form .text{
  color: #3333;
  font-size: 14px;
}
.form a.text{
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form .button{
  margin-top: 10px;

}
.form .button input{
  border: none;
  background-color: #007f67;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer; 
  transition: all 0.3s ease;
}
.button input:hover{
  background-color: #009579;
}
.form .login-signup{
  margin-top: 30px;
  text-align: center;

}