:root {
    --primary-color: #5d5dff;
    --secondary-color: #666;
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: var(--font-size-small);
}

button:hover,
button:focus {
    background-color: #444;
}